#id_python_text {
    width: 500px;
    height: 200px;
    display: inline-block;
}
#id_custom_plant_uml_text {
    height: 200px;
    display: inline-block;
    border:1px solid #999999;
    font-family:Courier New;
    font-size: medium;
}
label#id_show_plant_uml_text {
    display: block;
}


.menu1 {
}
div#menu1 {
    background: #fff1b0;
    padding: 12;
    display: inline-block;
}

h1.big {
    margin-bottom: 3;
}

a.menu_link {
    padding-right: 10;
}

#submit_button {
    width: 150px;
    height: 30px;
    background: #0eba13;
    font-size: larger;
}

#submit_button_uml {
    width: 250px;
    height: 30px;
    background: #0eba13;
    font-size: larger;
}

.diagram_name {
    background: #9bd4ff;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

#please_pick_files {
    background: #ffc937;
    font-weight: bold;
    /*display: inline-block;*/
    margin-top: 1px;
    margin-bottom: 8px;
}
p.no-display {
    display: none;
}

tr.main_table td {
    vertical-align: top;
}

